{% extends "admin/base.html" %} {% block body %}
{% block head_css %}
  {{super()}}
  <link rel="stylesheet" href="/static/css/main.css">
{% endblock head_css %}
<head>
  <style>
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  </style>
  </head>


<body class="text-center">
  <h1>Table Descriptions</h1><br>
  
  This platform allows for the organisation of data required by the NCP funding managment.<br>
  This page explains what information is captured in each table.<br>
  For more information and instructions please refer to the user manual.<br><br>
  
  <table>
    <tr>
      <th>Table Name</th>
      <th>Description</th>
      <th>Connections</th>
    </tr>
    <tr>
      <td>Students</td>
      <td>Contains each student's personal information (who have been paid a grant).</td>
      <td>Universities & Campuses</td>
    </tr>
    <tr>
      <td>Programs</td>
      <td>Contains all the funding available for ACICIS programs.</td>
      <td>No connections</td>
    </tr>
    <tr>
      <td>Universities</td>
      <td>Contains basic information of past and present ACICIS member Universities.</td>
      <td>No connections</td>
    </tr>
    <tr>
      <td>Campuses</td>
      <td>Contains basic information of past and present ACICIS member University Campuses.</td>
      <td>Universities</td>
    </tr>
    <tr>
      <td>Payments</td>
      <td>Contains information of all past payments to students.</td>
      <td>Students & Programs</td>
    </tr>
    <tr>
      <td>Grants</td>
      <td>Contains information of all grants awarded or tentatively awarded to students and corresponding payment details.</td>
      <td>Programs, Students, Universities & Campuses</td>
    </tr>
    <tr>
      <td>Grants By University</td>
      <td>Contains summarised information regarding each universities allocated grants.</td>
      <td>Universities</td>
    </tr>
    <tr>
      <td>Programs By University</td>
      <td>Contains information regarding each universities allocated programs</td>
      <td>Programs, Universities & Grants By University</td>
    </tr>
  </table>
  
  </body>

{% endblock %}