{% extends "admin/base.html" %} {% block body %}
<h1>New Colombo Plan Funding Managment Platform</h1>
<body class="text-center">
  This 
</body>

<h2>What is the New Colombo Plan</h2>
<body class="text-center">
  <p> The New Colombo Plan Mobility Program (NCP) provides funding to 
    Australian universities to support Australian undergraduate students 
    participation in study, internships, mentorships, practicums and 
    research in 40 host locations across the Indo-Pacific region. 
    Read more here: <a href="url">https://www.dfat.gov.au/people-to-people/new-colombo-plan/mobility-program.</a> 
    Background: Who are ACICIS Study Indonesia The Australian Consortium for 
    In-Country Indonesian Studies (ACICIS pronounced Ah-chee-chis, 
    as an Indonesian would say it) is a non-profit international educational 
    consortium of 17 Australia universities. The secretariat is housed at 
    UWA, next to Hackett caf. We facilitate study abroad programs in Indonesia 
    for predominantly Australian undergraduate students. These study abroad 
    programs include short-term options (2,3 or 6 week programs) and semester 
    long programs. Our programs are in a range of disciplines including Indonesian 
    language, journalism, development, business, law, creative arts, agriculture, 
    sustainable tourism and international relations. We were established in 1995 
    and since then have sent around 3,700 students to Indonesia. Students can typically
     do our programs for academic credit and receive a New Colombo Plan mobility grant
      (if eligible) to support them in the program. Read more about us 
      here: <a href="url">https://www.acicis.edu.au/about-us/.</a></p>
</body>
{% endblock %}