{% extends "base.html" %} {% block body %}
<h1 style="color:#317EAC"> New Colombo Plan Funding Management Platform </h1>
<h1 style="color:#317EAC">Sign In</h1><br>
<body class="text-center" style="color:#317EAC">
    <form action="" method="post" novalidate class="form-signin fadeIn">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br> {{ form.username(size=32) }}<br> {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br> {{ form.password(size=32) }}<br> {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>

</body>
{% endblock %}