{% extends "base.html" %} {% block body %}
<h1>Sign In</h1>
<body class="text-center">
    <form action="" method="post" novalidate class="form-signin fadeIn">
        {{ form.hidden_tag() }}
        <p>
            {{ form.username.label }}<br> {{ form.username(size=32) }}<br> {% for error in form.username.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br> {{ form.password(size=32) }}<br> {% for error in form.password.errors %}
            <span style="color: red;">[{{ error }}]</span> {% endfor %}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
{% endblock %}