{% extends "base.html" %}
{% block body %}
    <h1>What would you like to query?</h1>
    <form method="post">
        <input type="text" name="search" required/>
        <input type="submit" value="Search"/>
    </form>
    <table id="demo" class="table">
        <tbody>
            <tr>
                <td>{{ student.id }}</td>
                <td>{{ student.studentnumber }}</td>
                <td>{{ student.firstname }}</td>
                <td>{{ student.secondname }}</td>
                <td>{{ student.university }}</td>
            </tr>
        </tbody>
    </table> 

{% endblock %}